:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--accent-color: #2196f3;
	--main-font: "Roboto";
	--button-background-color: #f5f4fa;
	--additional-text-color: #ffffff;
	--button-no-active-color: #afb1b8;
}

body {
	font-family: var(--main-font), sans-serif;
	color: var(--primary-text-color);
}
